<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/maxtr/IdeaProjects/TestNGTutorial">
        <classes>
            <class name="testPackage.Day1">
                <methods>
                    <include name="Demo2"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Test">
        <classes>
            <class name="testPackage.Day2">
                <methods>
                    <exclude name="Test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>